.stories-container {
    display: flex;
    overflow-x: auto;
    padding: 10px;
    height: 220px;
  }
  
  .story-item {
    flex: 0 0 auto;
    width: 120px;
    margin-right: 10px;
    text-align: center;
  }
  
  .story-image-container {
    
    height: 100%;
    border-radius: 5%;
    overflow: hidden;
    margin-bottom: 5px;
  }
  
  .story-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .story-username {
    font-size: 14px;
    color: #333;
  }
  