@import "tailwindcss";

/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

/* Gradientes lineales */
.gradient-primary {
    background: linear-gradient(180deg, #4CAF50, #8BC34A);
}

.gradient-secondary {
    background: linear-gradient(45deg, var(--ion-color-secondary), var(--ion-color-tertiary));
}

.gradient-dark {
    background: linear-gradient(45deg, #2c3e50, #3498db);
}

.gradient-light {
    background: linear-gradient(45deg, #f6f9fc, #e9ecef);
}

/* Clase para texto con gradiente */
.text-gradient {
    background: linear-gradient(45deg, var(--ion-color-primary), var(--ion-color-secondary));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

ion-tab-button.tab-selected {
    --color: #2e7d32;
    /* verde oscuro o tu color deseado */

    /* para que tenga bordes redondeados */
    transition: all 0.3s ease-in-out;
}

/* Rellenar el icono cuando está activo */
ion-tab-button.tab-selected ion-icon {
    --color: #2e7d32 !important;
    color: #2e7d32 !important;
    stroke: #2e7d32 !important;
    stroke-width: 0 !important;
    scale: 1.5;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
}

ion-tab-button.tab-selected ion-icon::part(native) {
    --color: #2e7d32 !important;
    color: #2e7d32 !important;
}

ion-tab-button.tab-selected ion-label {
    display: none;
}